<?xml version="1.0" encoding="UTF-8"?>

<!--
xmlns 命名空间

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.0.xsd"

    >
    <!--&lt;!&ndash;设置car的父类&ndash;&gt;-->
    <!--<bean id="car1" class="com.zly.daomain.Car" factory-bean="carFactory" factory-method="createCar" init-method="myInit" scope="prototype"-->
    <!--p:brand="benz" name="s600" p:maxSpeed="300" abstract="true"></bean>-->
    <!--&lt;!&ndash;设置car的子类&ndash;&gt;-->
    <!--<bean id="car2" parent="car1" p:color="red"></bean>-->
    <!--<bean id="car3" parent="car1" p:color="blue"></bean>-->
    <!--&lt;!&ndash;Car工厂类&ndash;&gt;-->
    <!--<bean id="carFactory" class="com.zly.beanfactory.CarFactory"/>-->
    <bean id="car" class="com.zly.beanfactory.CarBeanFactory"
          p:carInfo="Benz，200，灰色" >
        <!--创建代理-->
        <aop:scoped-proxy/>
    </bean>
    <!--注册工厂后处理器-->
    <bean id="myBeanPost" class="com.zly.daomain.MyBeanPost"/>

    <!--构造方法注入-->
    <bean id="boss" class="com.zly.daomain.Boss">
        <constructor-arg index="0" value="辛基"/>
        <constructor-arg index="1" >
            <ref bean="location"></ref>
        </constructor-arg>
        <constructor-arg index="2">
            <ref bean="car"></ref>
        </constructor-arg>
        <property name="office">
            <bean class="com.zly.daomain.Office">
                <property name="name" value="李书福"></property>
            </bean>
        </property>
        <property name="favorList">
            <list>
                <value>羽毛球</value>
                <value>篮球</value>
            </list>
        </property>
        <property name="deposit">
            <map>
                <entry>
                    <key><value>建设银行</value></key>
                    <value>20000</value>
                </entry>
                <entry>
                    <key><value>招商银行</value></key>
                    <value>5000000</value>
                </entry>
            </map>
        </property>
    </bean>


    <bean id="location" class="com.zly.daomain.Location">
        <property name="name" value="广州"></property>
        <property name="x" value="100"></property>
        <property name="y" value="100"></property>
    </bean>

    <!-- 注册bean后处理器-->
    <bean id="MyBeanFactoryPostProcesser" class="com.zly.main.MyBeanFactoryPostProcesser"></bean>

    <!--util 注册集合类bean-->
    <util:map id="testMap">
        <entry key="name" value="辛基"></entry>
        <entry key="car" value="Benz"></entry>
    </util:map>



    <context:component-scan base-package="com.zly.service">

    </context:component-scan>
    <context:component-scan base-package="com.zly.daomain">

    </context:component-scan>
    <context:component-scan base-package="com.zly.conf">

    </context:component-scan>
</beans>